*~
src/build
src/bin
src/objs
.sconsign.dblite
/build
/scenes/yeahright
/scenes/wip/glass
/scenes/white-room
/scenes/vw-van
/scenes/volume-caustic
/scenes/villa
/scenes/veach-mis
/scenes/veach-bidir
/scenes/tt
/scenes/transparent-machines
/scenes/structuresynth
/scenes/sssdragon
/scenes/sportscar
/scenes/spds
/scenes/smoke-plume
/scenes/simple
/scenes/sanmiguel
/scenes/pbrt-book
/scenes/measure-one
/scenes/lte-orb
/scenes/lenses
/scenes/landscape
/scenes/killeroos
/scenes/images
/scenes/html
/scenes/head
/scenes/hair
/scenes/ganesha
/scenes/figures
/scenes/ecosys
/scenes/dragon
/scenes/dambreak
/scenes/crown
/scenes/contemporary-bathroom
/scenes/coffee-splash
/scenes/cloud
/scenes/chopper-titan
/scenes/caustic-glass
/scenes/bunny-fur
/scenes/buddha-fractal
/scenes/bsdfs
/scenes/breakfast
/scenes/bmw-m6
/scenes/bathroom
/scenes/barcelona-pavilion
/.vs
/scenes/point_ran.pbrt~RF4d05f6d.TMP
/scenes/point_ran.pbrt~RF4c90009.TMP
/scenes/README.md.html
/scenes/sphere-lights.pbrt~RF4bdcc2d.TMP
/scenes/.gitignore
/scenes/geometry
/scenes/cornell-box
/scenes/drag
/scenes/area_many_statue_old.pbrt~RF8e3788.TMP
/scenes/area_many_statue.pbrt~RFdaa0c.TMP
/scenes/area_many_statue.pbrt~RF13cc1d.TMP
/scenes/area_dir.pbrt~RF74f19f.TMP
